Task 1:- Simple Calculation
You have a dataset with product prices and quantities sold.
Goal:Calculate the total revenue generated for each product by multiplying price by quantity

Dataset:- I have a table that lists product , their prices, and the quantities sold.
Goal: find out how much money was made from each product.

In [10]:
import pandas as pd   #import pandas library

data = {'Product': ['Apples', 'Bananas', 'Oranges','Mango'],
        'Price': [10, 7, 15,20],
        'Quantity': [10, 20, 15,10]}    # The Dictonary represent this data.

df = pd.DataFrame(data) # create a dataframe object from the data dictionary using the pd.DataFrame constructor.

df['Revenue'] = df['Price'] * df['Quantity']  # calculates the revenue for each product by multiplying the price and quantity columns.

print(df)

   Product  Price  Quantity  Revenue
0   Apples     10        10      100
1  Bananas      7        20      140
2  Oranges     15        15      225
3    Mango     20        10      200

Task 2:-Extracting Information from Strings 
Scenario: You have a list of email addresses.
Goal: Extract the username (part before the "@" symbol) from each email address.

In [16]:
email_addresses = ["manisha@gmail.com", "sakshi@gmail.com", "mahi@gmail.com","aarti@gmail.com","saku@gmail.com"]

for email in email_addresses:
    username = email.split("@")[0]
    print(f"Username: {username}")

Username: manisha
Username: sakshi
Username: mahi
Username: aarti
Username: saku

Task3:- Simple Conditional Statements 
Scenario: You have a list of product prices and a discount percentage. 
Goal: Write code to calculate the final price for each product after applying the discount.

In [26]:
prices = [50, 40, 60, 80,90,100]
discount_percentage = 5

# Calculate the discount amount for each product.
discounts = [price * discount_percentage / 100 for price in prices]

# Calculate the final price for each product.
final_prices = [price - discount for price, discount in zip(prices, discounts)]

# Print the final prices.
for final_price in final_prices:
    print(final_price)

47.5
38.0
57.0
76.0
85.5
95.0

Task 4:- Sorting Data 
Scenario: You have a DataFrame containing product information with prices and ratings. 
Goal: Sort the DataFrame by: 
Price (ascending order - cheapest to most expensive). 
Rating (descending order - highest to lowest rating).

In [31]:
import pandas as pd

# Sample Data (replace with your actual DataFrame)
data = {
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Price': [10, 25, 8, 15, 12],
    'Rating': [2, 3, 2, 3, 4]
}
df = pd.DataFrame(data)  ## create a dataframe object from the data dictionary using the pd.DataFrame constructor.

# Sort by Price (ascending) and then by Rating (descending)
df_sorted = df.sort_values(by=['Price', 'Rating'], ascending=[True, False])

# Print the sorted DataFrame
print(df_sorted)

  Product  Price  Rating
2       C      8       2
0       A     10       2
4       E     12       4
3       D     15       3
1       B     25       3

Task:-5 Data Cleaning and Transformation 
Scenario: 
You have a dataset on customer purchases with the following issues: 
Missing values in the "price" column. 
Inconsistent data types (prices might be strings with a currency symbol). 
Inconsistent product names (typos or capitalization). 
Goal: Clean and transform the data using pandasÂ functions.

In [62]:
import pandas as pd
data = {
      'product': ['Oneplus', 'Realme', 'Apple', 'vivo', 'blackberry', 'Nokia', 'hp','dell'],
    'price': [8996,3795,'NaN',7596,7684,9847,7675,'$987.9'],
    'quantity': [3, 5, 4, 8, 6, 9, 2, 7]
}

df = pd.DataFrame(data)

df['price'] = df['price'].astype(str)
df['price'] = df['price'].str.replace('[$,]', '', regex=True) # 'str.replace' method to remove the dollar sign and comma characters from the 'price' column.
df['price'] = pd.to_numeric(df['price'], errors='coerce') # This line converts the 'price' column back to numeric type using the 'pd.to_numeric function'.
df['price'].fillna(df['price'].mean(), inplace=False) #fills any missing values in the 'price' column with the mean of the column using the fillna method

print(df)

      product   price  quantity
0     Oneplus  8996.0         3
1      Realme  3795.0         5
2       Apple     NaN         4
3        vivo  7596.0         8
4  blackberry  7684.0         6
5       Nokia  9847.0         9
6          hp  7675.0         2
7        dell   987.9         7