In [1]:
#Write a program to display a person's name , age and address in three different lines.
name ="Mahi";
age = 23 ;
address = "Panipat"
print(name)
print(age)
print(address)

Mahi
23
Panipat

In [7]:
#Write a program to swap two variables.
x = 12
y = 10
temp = x
#print(temp)
x = y
y = temp
print("value of x is ",x)
print("value of y is ",y)

value of x is  10
value of y is  12

In [11]:
#step 2nd
a = 2;
b = 5;
a,b = b,a
print("Value of a is: ",a)
print("Value of b is: ",b)
#swap value right to left = left to right.

Value of a is:  5
Value of b is:  2

In [15]:
# Write a program to conver a flaot into interger.
x = 1.23
print(x)
x = int(x)
print(type(x))
print(x)

1.23
<class 'int'>
1

In [25]:
#Write a program to take details from a students for ID-card and then print it in different Lines.

name = input("Enter the Name of the Student : ");
age = int(input("Enter  the age of the Student  :"));
grade = input("Enter the grade of the Stuent :");
e_mail = input("Enter the mail_id of the Student :");
phn_no = input("Enter the phone no of the Student :");
print("name: ", name);
print("age: ", age);
print("grade: ", grade);
print("e_mail: ", e_mail);
print("phn_no: " ,phn_no);
print("Student Identity Card")

Enter the Name of the Student :  Manisha
Enter  the age of the Student  : 24
Enter the grade of the Stuent : I
Enter the mail_id of the Student : mk
Enter the phone no of the Student : 59695

name:  Manisha
age:  24
grade:  I
e_mail:  mk
phn_no:  59695
Student Identity Card

In [29]:
# Write a program to take an user imput as integer then convert it to float.
a = int(input("enter a number here: "))
print(a)
print(type(a))
a = float(a)
print("after convertion: " ,a)
print(type(a))

enter a number here:  10

10
<class 'int'>
after convertion:  10.0
<class 'float'>